.article {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    margin: 0 auto;


}
.plans-container-slider {
    justify-content: center;
}
.parent-tables-container {
    display: flex;
    justify-content: center;
    width: 1000px;
    margin: 0 auto;
}